.flooter{
    background-color: black;
    height:15em;
}

.help{
    float: left;
    width: 250px;
    

}

p{
    color: rgb(247, 247, 247)
}
h1
{
    float: left;
}


.floot1{
    float: left;

}
.floot2{
    float: left;

}
.floot3{
    float: left;
}