.flooter{
    background-color: black;
    height:250px;
}

.help{
    float: left;
    height: 200px;
    width: 100%;
    

}

p{
    color: rgb(247, 247, 247)
}
h1
{
    float: left;
}


.floot1{
    float: left;
    width: 500px;

}
.floot2{
    float: left;
    width: 900px;

}

.floot3{
    float: right;
    width: 400px;
}

p:hover{

    cursor: pointer;
    color: rgb(67, 170, 230);

    

}