.App{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}


.Sidebar{
    height: 100%;
    width: 250px;
    background-color: black;
}

.SidebarList{
    height: 100%;
    padding: 0;
    width: 250px;
}
.SidebarList .row{
    width: 100%;
    height: 60px;
    border: 1px ;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.SidebarList .row:hover{

    cursor: pointer;
    background-color: rgb(71, 66, 66);
    color: rgb(67, 170, 230);

}
.row #icon{
    flex: 100%;
    display: grid;
    place-items: center;
    
}
.row #title{
    flex: 80%;
   
}












