.App {
  text-align: center;
}
.main{
  margin-top: 5em;
}


body {
  margin: 0;
  padding: 0;
  
}

.Sidebar{

  float: left;
  height: 800px;

}

.Dashbord{
   float: right;
}

.flooter{
  clear: both;
}